html{-webkit-text-size-adjust:100%;-moz-text-size-adjust:100%;text-size-adjust:100%;}
main{display:block;}
a{background-color:transparent;}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted;}
strong{font-weight:bolder;}
small{font-size:80%;}
img{border-style:none;}
button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0;}
button,input{overflow:visible;}
button,select{text-transform:none;}
button,[type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button;appearance:textfield;}
button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0;}
button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline:1px dotted ButtonText;}
[hidden]{display:none;}
p,ul,ol,dl,table,blockquote,pre,figure{padding-top:0;padding-bottom:0;margin-top:0;margin-bottom:1rem;}
ul ul,ul ol,ol ul,ol ol{margin-bottom:0;}
ul,ol,dd{padding-left:1.75rem;}
dd{margin-left:0;}

/* KONEC OPTIMALIZACE */

:root
{
--b1:rgb(168,110,87); /* hnědá */
/* přechodové barvy */
--b2:rgb(168,151,87); /* hnědá - do béžova */
--b2_9:rgba(168,151,87,.95); /* hnědá - do béžova 95% krytí */
--b2_6:rgba(168,151,87,.6); /* hnědá - do béžova 60% krytí */
--b3:rgb(168,87,104); /* hnědá - do růžova */
--b4:rgb(87,168,110); /* zelená */
--b5:rgb(110,87,168); /* fialová */

/* dobrý kontrast: b2 a černá , b4 a černá */
/* dobrý kontrast: b5 a bílá */
}


@font-face{
font-display:fallback; /* vlastnost fontu, která zobrazí font se zpožděním 0.3s, kdy už by měl být načten - sníží se performace webu */
font-family:"nadpis"; /* vlastní název fontu, který se posléze bude dále používat v CSS */
src:url("../font/nadpis.woff2") format("woff2 supports variations"),url("../font/nadpis.woff2") format("woff2-variations"),url("../font/nadpis.woff2") format("woff2"),url("../font/nadpis.woff") format("woff"); /* cesta k fontu se určuje vzhledem k umístění CSS souboru */
font-weight:100 900; /* určuje rozsah šířky písma použitého v CSSku (v projektu) */
font-style:normal;
}

@font-face{
font-display:fallback; /* vlastnost fontu, která zobrazí font se zpožděním 0.3s, kdy už by měl být načten - sníží se performace webu */
font-family:"text"; /* vlastní název fontu, který se posléze bude dále používat v CSS */
src:url("../font/text.woff2") format("woff2 supports variations"),url("../font/text.woff2") format("woff2-variations"),url("../font/text.woff2") format("woff2"),url("../font/text.woff") format("woff"); /* cesta k fontu se určuje vzhledem k umístění CSS souboru */
font-weight:100 700; /* určuje rozsah šířky písma použitého v CSSku (v projektu) */
font-style:normal;
}


*{-webkit-box-sizing:border-box;box-sizing:border-box;}

body
{
color:black;
background:white;
font-family:"text",sans-serif;
width:100%;
font-size:100%;
line-height:1;
margin:0;
padding:0;
background-color:var(--b5);
}

article
{
contain:content;  /* prohlížeči dá instrukci, že prvky, které uživatel nevidí může vynechat z počítání stránky */
}

a,button
{
cursor:pointer;
}

button
{
font-weight:normal;
}

a,a:link,a:visited,a:active
{
color:black;
text-decoration:none;
}

p
{
font-size:1rem;
line-height:1.5;
}

h1,h2,h3,h4
{
margin-top:0;
margin-bottom:.5rem;
font-family:"nadpis",sans-serif;
-webkit-font-variant-ligatures:common-ligatures;
font-variant-ligatures:common-ligatures;
font-weight:normal;
letter-spacing:.01rem;
padding-top:2rem;
line-height:1.2;
}

.h-kon
{
width:100%;
display:flex;
align-items:center;
justify-content:center;
overflow:auto;
background-color:var(--b5);
padding:1rem;
}

.f-kon
{
display:flex;
flex-direction:column;
gap:1.5rem;
width:100%;
max-width:22.5rem;
}


.p-n
{
font-family:"nadpis",sans-serif;
color:white;
font-size:2rem;
text-align:center;
font-weight:900;
line-height:1;
margin-top:.5rem;
margin-bottom:0;
letter-spacing:.12rem;
word-spacing:.2rem;
}




.f-kon fieldset
{
border:none;
padding:0;
margin:0;
}

.b-mesic
{
display:grid;
grid-template-columns:auto 1fr auto;
}

.b-mesic button
{
width:2rem;
height:2rem;
max-width:2rem;
max-height:2rem;
min-width:2rem;
min-height:2rem;
line-height:1.9;
font-weight:bold;
color:black;
background-color:white;
border:1px solid black;
}

.b-mesic button:first-child
{
border-radius:10px 0 0 10px;
}

.b-mesic button:last-child
{
border-radius:0 10px 10px 0;
}

.b-mesic input
{
height:2rem;
max-height:2rem;
padding:.5rem .5rem .25rem .15rem;
text-align:center;
font-weight:bold;
border:none;
border-top:1px solid black;
border-bottom:1px solid black;
border-radius:0px;
box-shadow:none;
background-color:var(--b4);
cursor:default;
}

.b-mesic input:focus
{outline: none;
box-shadow:none;
border-color:initial;
}

.b-dny
{
display:grid;
grid-template-columns:repeat(7,1fr); 
gap:.5rem;
justify-content:center;
justify-items:center;
min-height:18rem; /* zajistí, že roržení nebude poskakovat při posunech buttonu a jejich počtu */
}

.b-dny p
{
margin-bottom:0;
}

.bw
{
color:white;
font-weight:bold;
}

.b-dny button,.p-v
{
display:flex;
align-items:center;
justify-content:center;
border-radius:50%;
border:1px solid var(--b4);
width:2rem;
height:2rem;
max-width:2rem;
max-height:2rem;
min-width:2rem;
min-height:2rem;
padding:.7rem .5rem .5rem .5rem;
font-size:1rem;
font-weight:bold;
line-height:1;
background-color:white;
}

.b-dny button:disabled,.p-v
{
border:1px dotted grey;
font-weight:normal;
color:grey;
opacity:.7;
cursor:no-drop;
}

.p-v
{
line-height:.8;
padding-left:.58rem;
cursor:no-drop;
}

.fake-kon
{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
z-index:-1;
}

.fake-kon input
{
width:100%;
height:100%;
}

.b-hod
{
display:grid;
grid-template-columns:1fr;
gap:1rem;
margin:0;
padding:0;
list-style-type:none;
}

/* > 320 px */
@media only screen and (min-width:20em)
{
.b-hod
{
grid-template-columns:1fr 1fr;
}
}

.b-hod li
{
display:flex;
gap:.5rem;
padding:.5rem;
border:1px solid var(--b4);
cursor:pointer;
white-space:nowrap;
border-radius:10px;
background-color:white;
}


.b-hod li input[type="radio"] {
appearance: none; /* Skryje standardní radiobutton */
-webkit-appearance: none; /* Skryje standardní radiobutton */
-moz-appearance: none; /* Skryje standardní radiobutton */
width:1rem; /* Nastavení velikosti */
height:1rem; /* Nastavení velikosti */
border: 1px solid var(--b5); /* Nastavení barvy borderu */
border-radius:50%;
position:relative;
cursor:pointer;
background-color:transparent;
}

/* Styl pro vybraný stav */
.b-hod li input[type="radio"]:checked {
background-color:var(--b4); /* Nastavení barvy pozadí */
border:1px solid var(--b4); /* Barva borderu při vybrání */
}

.b-hod li input[type="radio"]:checked::after {
content: '';
display: block;
width:.5rem; /* Velikost pro vnitřní kolečko */
height:.5rem; /* Velikost pro vnitřní kolečko */
background-color:white; /* Barva vnitřního kolečka */
border-radius:50%;
position: absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
}

.b-hod li input[type="radio"]:disabled
{
background-color:transparent; /* Barva pozadí pro disabled stav */
border-color:transparent; /* Barva borderu pro disabled stav */
cursor:not-allowed; /* Změna kurzoru */
}

.potvrzeni button
{
font-family:"nadpis",sans-serif;
width:100%;
font-size:1.25rem;
font-weight:bold;
text-align:center;
padding:.5rem;
border-radius:10px;
border:2px solid var(--b4);
background-color:white;
margin-bottom:1rem;
}

.d-n
{
display:none;
}

.ma
{
margin:auto;
}